@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yekan;
  src: url(./assets/font/iranyekanwebregularfanum.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Yekan;
  src: url(./assets/font/iranyekanwebmediumfanum.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Yekan;
  src: url(./assets/font/iranyekanwebboldfanum.woff) format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: yekan !important;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
